.carousel-indicators{
	position: fixed;
	padding-top: 500px;
	min-height : 600px;
	width : 100%;
  }

nav {
	display: flex;
	justify-content: space-between;
}

#profileNav {
	margin-left: 500px;
}

.navbar {
	justify-content: space-evenly	;
}
/* #logoutButton {
	
} */

.navbar:nth-child(2) {
	margin-top: 350px;

}